
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@ViewBag.ID

<div style="width:45%">
    <div ng-controller="chartControl">
        <canvas id="canvas" height="450" width="600" ng-init="drawLine('canvas', '@ViewBag.ID')"></canvas>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/AppScripts/stringFactory.js"></script>
    <script>
    var appBaseUrl = '@ViewBag.Url';
    var urls = new stringFactory(appBaseUrl);
    </script>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Chart.js-master/Chart.js"></script>
    <script src="~/Scripts/AppScripts/simpleMyApp.js"></script>
    <script src="~/Scripts/AppScripts/chartDataService.js"></script>
    <script src="~/Scripts/AppScripts/chartControl.js"></script>
}