@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is virtual queue for some resource that I call nishtiachok.
</p>
<p>
    Site is for admin and for user we had application.
    <br />
    You can download all project from <a href="http://github.com/FrozzyBoy/nishtyachki">git hub</a>.
</p>
