@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    There is no adress
    <abbr title="Phone">P:</abbr>
    Do not call us
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">There is no support</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Ah ahahahahahahahahaha</a>
</address>