<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="utf-8">
    <title>Queue</title>
    <link href="~/Scripts/css/ng-grid.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script src="~/Scripts/js/angular.min.js"></script>
    <script src="~/Scripts/js/ng-grid.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</head>
<body ng-controller="MyCtrl">
    <div class="gridStyle" ng-grid="gridOptions"></div>
</body>
</html>