@{
    ViewBag.Title = "Index";
}

<div ng-app="myApp">

    <div id="Nisht" ng-controller="MyCtrl">
        <p ng-repeat="n in nisht">
            <br />
            <img ng-src="{{n.Im}}">
            <br />
            <button ng-click="deleteNisht(n)">Delete</button>
            <select ng-model="myState[$index]" ng-options="state.name for state in states" ng-change="changeStatNisht(n,myState[$index])"></select>
        </p>
        <button ng-click="addNisht()">Add</button>
    </div>
        
    <div id="Queue" ng-controller="QueueCtrl">
        
        <div ng-show="queue.Queue" >
            <h3>
                Queue:
            </h3>
            <ol ng-model="queue.Queue"
                data-ui-sortable="sortableOptions">

                <li ng-repeat="q in queue.Queue"
                    data-drag="true">

                    <a ng-href='../UserInfo/User/{{q.ID}}'>{{q.ID}}</a>
                    <button ng-click="deleteUser(q)">Delete</button>
                    <select ng-model="myRole[$index]" ng-options="role.name for role in roles" ng-change="changeRoleUser(q,myRole[$index])"></select>
                    Message:
                    <input type="text" ng-model="mess" ng-model-options="{ getterSetter: true }" />
                    <button ng-click="sendMessage(mess, q.ID)">Send Message</button>

                </li>

            </ol>
        </div>

        <button ng-click="block(queue)"><img ng-src="{{blockButton.Im}}" width="150" height="100" /></button>
        <p>
            {{blockButton.Message}}
        </p>
    </div>
        
    <div id="users" ng-controller="usersCtrl">
        <div ng-show="users">
            <h3>
                Users:
            </h3>
            <ul>
                <li ng-repeat="user in users">
                    <a ng-href='../UserInfo/User/{{user.UserName}}'>{{user.UserName}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>

@section scripts{

<script src="~/Scripts/AppScripts/stringFactory.js"></script>
<script>
    var appBaseUrl = '@ViewBag.Url';
    var urls = new stringFactory(appBaseUrl);
</script>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.js"></script>
<script type="text/javascript" src="~/Scripts/angular.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.signalR-2.1.0.js"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript" src="~/Scripts/AppScripts/App.js"></script>
<script src="~/Scripts/AppScripts/signalrFctr.js"></script>

<script type="text/javascript" src="~/Scripts/AppScripts/DataService.js"></script>
<script type="text/javascript" src="~/Scripts/AppScripts/Controller.js"></script>
<script type="text/javascript" src="~/Scripts/AppScripts/QueueDataService.js"></script>
<script type="text/javascript" src="~/Scripts/AppScripts/QueueCtrl.js"></script>

<script src="~/Scripts/sortable.js"></script>

<script src="~/Scripts/AppScripts/usersDataService.js"></script>
<script src="~/Scripts/AppScripts/usersCtrl.js"></script>
}