<html ng-app="myApp">
<head lang="en">

    <title></title>

    <link href="~/Scripts/css/ng-grid.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script src="~/Scripts/js/angular.min.js"></script>
    <script src="~/Scripts/js/ng-grid.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <script type='text/javascript'>
        function NishtCntrl($scope, $http) {
            var url = "http://localhost/AdminApp/api/nisht";
            $scope.nisht = [];

            $http.get(url).success(function (data, status, headers, config) {

                    $scope.nisht = data;
            });

        }
    </script>

</head>
<body ng-controller="NishtCntrl">
        
    <p ng-repeat="n in nisht">
        <span>{{n.Im}}</span>
    </p>

</body>

</html>